<%- include("partials/header"); -%>

<html>
  <style>
    body{
     
      background: url(safe1.jpg)no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

    }
  .wrapper{
      /* width: 50px; */
  /* background-color: red; */
  /* Center vertically and horizontally */
  position: relative;
  width: 400px;
  height: 570px;
  background: transparent;
  border: 2px solid rgba(255,255,255,.5);
   top: 5%;
  left: 33%;
  border-radius: 20px;
  /* transform: translate(-50%, -50%); */
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px black;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
transition: height .2s ease;

  


  }
    @media (max-width:700px){
   .wrapper{
    /* justify-content: center;
    align-items: center; */
    top: 5%;
    left: 5%;
   }}

   @media (max-width:500px){
   .wrapper{
    /* justify-content: center;
    align-items: center; */
    top: 5%;
    left: 5%;
   }
}
.wrapper .form-box{
  width: 100%;
  padding: 40px;
}
.wrapper .form-box h2{
  font-size: 2em;
  color: rgb(41, 40, 40);
  text-align: center;

}
.wrapper .form-box.login{
  transition: transform .18s ease;
  transform: translateX(0);
}
.wrapper.active .form-box.login{
  transition: none;
  transform: translateX(-400px);
}
.wrapper .form-box.register{
  position: absolute;
  transition: none;
  transform: translateX(400px);
}
.wrapper.active .form-box.register{
  transition: transform .18s ease;
  transform: translateX(0);
}

.wrapper.active{
    height: 600px;
}
.input-box{
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid rgb(41, 40, 40);
  margin: 30px 0;
}
.input-box label{
  position: absolute;
  top: 50%;
  left :5px;
  transform: translateY(-50%);
  font-size: 1rem;
  color: rgba(43, 42, 42, 0.834);
  font-weight: 500;
  pointer-events: none;
  transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
  top: -5px;
}

.input-box input{
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1rem;
  color: rgba(58, 57, 57, 0.834);
  font-weight: 600;
  padding: 0 35px 0 5px;
}
.input-box .icon{
  position: absolute;
  right: 8px;
  color: rgba(8, 7, 7, 0.834);
}
.remember-forget{
  font-size: .9em;
  color:rgba(47, 46, 46, 0.834) ;
  font-weight: 500;
  margin: -15px 0 15px;
  display: flex;
  justify-content: space-between;
}
.remember-forget label input{
  accent-color:rgba(27, 26, 26, 0.834) ;
  margin-right: 3px;
}
.remember-forget  a{
  color:rgba(28, 27, 27, 0.834) ;
  text-decoration: none;
}
.remember-forget a:hover{
  text-decoration: underline;
}
.btn{
  width: 100%;
  height: 45px;
  background-color: rgb(103, 176, 245);
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
  color: #ffff;
  font-weight: 500;
}
.login-register{
  font-size: .9em;
  color:rgb(103, 176, 245) ;
  text-align: center;
  font-weight: 500;
  margin: 25px 0 10px;
  justify-content: space-between;
}
.login-register p a{
  color:rgb(49, 96, 139) ;
  text-decoration: none;
font-weight: 600;
}
.login-register a:hover{
  text-decoration: underline;
}
/* .wrapper .icon-close{
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 45px;
  background-color: rgb(38, 39, 39);
  font-size: 2rem;
  color: #fff;
  display: flex;
  justify-content: center;
  border-bottom-left-radius: 20px;
  cursor: pointer;
  z-index: 1;
} */




  </style>
</head>
<body> 
<div class="wrapper">
  <!-- <span class="icon-close"><ion-icon name="close" style="padding-top: 3px;"></ion-icon></span> -->
  <!-- login page -->
  <div class="form-box login" style="color: #ffff; align-items: center;">
    <img src="logo.png" alt="" style="width: 100px; margin-left: 105px;" >
    <h2 >login</h2>
    <form action="#">
      <div class ="input-box">
        <span class="icon"><ion-icon name="person"></ion-icon></span>
        <input type="name" required>
        <label >Name</label>

      </div>
      <div class ="input-box">
        <span class="icon"> <ion-icon name="mail"></ion-icon> 
        </span>
        <input type="email" required>
        <label >Email</label>

      </div>
      <div class ="input-box">
        <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>

        <input type="password" required>
        <label >password</label>

      </div>
      <div class="remember-forget">
        <label >
          <input type="checkbox">
          Remember me
        </label>
        <a href="#">forget password?</a>

      </div>
      <button type="submit" class="btn ">Login</button>
       <div class="login-register">
        <p>Don't have an account? <a href="#" class="register-link">Register</a></p>
       </div>
    </form>

  </div>
  <!-- registration page -->
  <div class="form-box register" style="color: #ffff; align-items: center;">
    
    <img src="logo.png" alt="" style="width: 100px; margin-left: 105px; " >
    <h2 >Registration</h2>
    <form action="#">
      <div class ="input-box">
        <span class="icon"><ion-icon name="person"></ion-icon></span>
        <input type="text" required>
        <label >Userame</label>

      </div>
      <div class ="input-box">
        <span class="icon"> <ion-icon name="mail"></ion-icon> 
        </span>
        <input type="email" required>
        <label >Email</label>

      </div>
      <div class ="input-box">
        <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>

        <input type="password" required>
        <label >password</label>

      </div>
      <div class="remember-forget">
        <label >
          <input type="checkbox">
          Agree to the terms & conditions.
        </label>

      </div>
      <button type="submit" class="btn ">Register</button>
       <div class="login-register">
        <p>Already have an account? <a href="#" class="login-link">log-in</a></p>
       </div>
    </form>

  </div>
</div>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
<script >
  const wrapper = document.querySelector('.wrapper');
const loginLink =document.querySelector('.login-link');
const registerLink = document.querySelector('.register-link');

registerLink.addEventListener('click',()=>{
    wrapper.classList.add('active');
});
loginLink.addEventListener('click',()=>{
    wrapper.classList.remove('active');
});
</script>
</body>
</html>
<%- include("partials/footer"); -%>
